<div class="container">
  <h1>Welcome to Dashboard page</h1>
  <%= link_to('Sign out', destroy_user_session_path, method: :delete) %><br><br>
  <%= link_to "New Survery", new_survey_form_path %>
</div>